*{
box-sizing:border-box;
margin:0;
padding:0;
}

body{
font-family:Arial, sans-serif;
background:#04616E;
color:#e6edf3;
padding:40px;
}

.container{
max-width:1100px;
margin:auto;
}

/* TOPBAR */

.topbar{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:30px;
}

.brand{
display:flex;
align-items:center;
gap:10px;
}

.brand-icon{
font-size:30px;
}

.brand-text h1{
font-size:20px;
font-weight:bold;
}

.brand-text p{
font-size:12px;
color:#8b949e;
}

/* TOPBAR RIGHT - welcome + tombol */
.topbar-right{
display:flex;
align-items:center;
gap:14px;
}

.welcome-text{
font-size:13px;
color:#8b949e;
}

.welcome-text span{
font-weight:600;
color:#c9a84c;
}

.btn-add{
background:#3fb950;
color:#000;
padding:10px 18px;
text-decoration:none;
border-radius:6px;
font-weight:bold;
font-size:13px;
}

.btn-logout{
padding:8px 16px;
background:transparent;
border:1px solid #c0392b;
color:#c0392b;
border-radius:4px;
font-size:13px;
text-decoration:none;
transition:background 0.2s, color 0.2s;
}

.btn-logout:hover{
background:#c0392b;
color:#fff;
}

/* STATS */

.stats{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:15px;
margin-bottom:25px;
}

.stat{
background:#161b22;
padding:20px;
border-radius:8px;
}

.stat-label{
font-size:12px;
color:#8b949e;
}

.stat-value{
font-size:24px;
font-weight:bold;
}

.stat-sub{
font-size:11px;
color:#8b949e;
margin-top:4px;
}

/* TABLE */

.card{
background:#161b22;
border-radius:10px;
overflow:hidden;
}

.card-head{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px;
border-bottom:1px solid #30363d;
}

.card-title{
display:flex;
align-items:center;
gap:8px;
font-weight:600;
}

.dot{
display:inline-block;
width:8px;
height:8px;
background:#3fb950;
border-radius:50%;
}

.badge{
background:#1c2333;
color:#8b949e;
font-size:12px;
padding:4px 10px;
border-radius:20px;
border:1px solid #30363d;
}

.empty{
padding:40px;
text-align:center;
color:#8b949e;
}

table{
width:100%;
border-collapse:collapse;
}

th,td{
padding:12px 18px;
}

th{
background:#1c2333;
font-size:12px;
text-transform:uppercase;
color:#8b949e;
}

tr{
border-bottom:1px solid #30363d;
}

.btn-edit{
color:#58a6ff;
text-decoration:none;
margin-right:10px;
}

.btn-del{
color:#f85149;
text-decoration:none;
}

/* FOOTER */

.footer{
margin-top:20px;
text-align:center;
color:#8b949e;
font-size:12px;
}